@page "/studentdetails/{id}"
@page "/studentdetails"

@inherits StudentDetailsBase

<h3>StudentDetails</h3>

@*@if (Student == null)
{
    <p>Loading ...</p>
}
else
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Enrollment Date</th>
                    <th>All enrollments</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Student)
                {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.EnrollmentDate</td>
                    @foreach (var innerItem in Enrollments)
                    {
                <tr>
                    <td>@innerItem.Course.Title</td>
                    <td>@innerItem.Grade</td>
                </tr>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
}*@


@if (Student == null)
    {
        <p>Loading ...</p>
    }
    else
    {
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Enrollment Date</th>
                        <th>Enrollments</th>
                    </tr>    
                </thead>
                <tbody>
                    @foreach (var item in Enrollments)
                    {
                        <tr>
                            <td>@item.Student.FirstName</td>
                            <td>@item.Student.LastName</td>
                            <td>@item.Student.EnrollmentDate</td>
                            <td>@item.Course.Title</td>
                            <td>@item.Grade</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }