@page "/displaystudents"
@inherits DisplayStudentsBase

<h3>DisplayStudents</h3>

@if (Students == null)
{
    <p>Loading ...</p>
}
else
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Enrollment Date</th>
                    <th>Student details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Students)
                {
                    <tr>
                        <td>@student.FirstName</td>
                        <td>@student.LastName</td>
                        <td>@student.EnrollmentDate</td>
                        <td><a href="@($"studentdetails/{student.StudentId}")" class="btn btn-primary m-1">View Details</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Credits</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Courses)
                {
                    <tr>
                        <td>@course.Title</td>
                        <td>@course.Credits</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    @if (Enrollments == null)
    {
        <p>Loading ...</p>
    }
    else
    {
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Enrollment Date</th>
                        <th>Grade</th>
                        <th>Course Title</th>
                        <th>Credits</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Enrollments)
                    {
                        <tr>
                            <td>@(item.Student.FirstName == null ? "#N/A" : item.Student.FirstName)</td>
                            <td>@(item.Student.LastName == null ? "#N/A" : item.Student.LastName)</td>
                            <td>@item.Student.EnrollmentDate</td>
                            <td>@(item.Grade == null ? "#N/A" : item.Grade)</td>
                            <td>@(item.Course.Title == null ? "#N/A" : item.Course.Title)</td>
                            <td>@item.Course.Credits</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
