@page "/studentdetails/{id}"
@page "/studentdetails"

@inherits StudentDetailsBase

<h3>StudentDetails</h3>



@if (Student == null)
{
    <p>Loading ...</p>
}
else
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Enrollment Date</th>
                    <th>All enrollments</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Student.FirstName</td>
                    <td>@Student.LastName</td>
                    <td>@Student.EnrollmentDate</td>
                    @foreach (var item in Enrollments)
                    {
                    <tr>
                        <td>@item.Course.Title</td>
                        <td>@item.Grade</td>
                        <td>@item.Course.Credits</td>
                    </tr>
                }
                    </tr>
                </tbody>
            </table>
        </div>
    }